ul {
  background-color: royalblue;
  padding: 10px;
  list-style-type: square;
  list-style-position: inside;
  padding: 10px;
}

ul li {
  background-color: seashell;
  margin: 3px;
}

ul li ul {
  background-color: yellowgreen;
  padding: 5px;
  list-style-type: circle;
  list-style-position: outside;
  padding: 10px;
}

ul li ul li {
  background-color: slategray;
  padding: 3px;
}

ul li ul li ul {
  background-color: blue;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
}

ul li ul li ul li {
  background-color: blueviolet;
  color: aliceblue;
}
