i {
  font-size: 45px;
}
.fa-facebook-square {
  color: blue;
}
.fa-google {
  color: green;
}
.fa-youtube {
  color: red;
}
.fa-instagram {
  color: orange;
}
.fa-github-alt {
  color: purple;
}
