/* Agregamos colores de fondo para las secciones de la maquetacion */
body {
  background-color: black;
}
.contenedor {
  background-color: gray;
}
header {
  background-color: blueviolet;
}
nav {
  background-color: crimson;
}
section {
  background-color: white;
}
footer {
  background-color: yellowgreen;
}

/* Agregamos un vorde de tipo dotted */
.borde1 {
  border-style: dotted;
}

/* Agregamos un vorde de tipo dashed */
.borde2 {
  border-style: dashed;
}

/* Agregamos un vorde de tipo solid */
.borde3 {
  border-style: solid;
}

/* Agregamos un vorde de tipo double */
.borde4 {
  border-style: double;
}

/* Agregamos un vorde de tipo groove */
.borde5 {
  border-style: groove;
}

/* Agregamos un vorde de tipo ridge */
.borde6 {
  border-style: ridge;
}

/* Agregamos un vorde de tipo inset */
.borde7 {
  border-style: inset;
}

/* Agregamos un vorde de tipo outset */
.borde8 {
  border-style: outset;
}

/* Agregamos un vorde de tipo none */
.borde9 {
  border-style: none;
}

/* Agregamos un vorde de tipo hidden */
.borde10 {
  border-style: hidden;
}

/* Agregamos un vorde de tipo combinado 
cuando realizamos bordes combinados la sintaxis seria la siguente
border-style: (arriba, abajo), (izquierda, derecha)
border-style: (arriba), (izquierda, derecha), (abajo)
border-style: (arriba), (abajo), (izquierda), (derecha)*/
.borde11 {
  border-style: dotted dashed solid double;
}

/* Aplicamos bordes cambiando el ancho del borde */
.borde12 {
  border-style: dotted;
  border-width: 10px;
}

.borde13 {
  border-style: dashed;
  border-width: medium;
}

.borde14 {
  border-style: solid;
  border-width: 10px 15px 4px 7px;
}

/* Aplicamos bordes cambiando el color del borde */
.borde15 {
  border-style: solid;
  border-color: greenyellow;
}

.borde16 {
  border-style: solid;
  border-color: greenyellow goldenrod red blue;
}

/* Aplicamos bordes solo a un lado especifico */
.borde17 {
  border-top-style: dashed;
}

.borde18 {
  border-bottom-style: dotted;
}

.borde19 {
  border-left-style: solid;
}

.borde20 {
  border-right-style: double;
}

/* Aplicamos vordes redondeandolos */
.borde21 {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}

.borde22 {
  border-style: solid;
  border-width: 20px;
  border-radius: 15px;
}
