/* los vinculos presetan varios estados dentro de los cuales tenemos
link:el vinculo normal
visited:cuando a sido visitado
hover:mouse esta sobre el vinculo
active:le das clic */

/* aplicamos colores a los estados del vinculo */
a.vinculo1:link {
  color: chartreuse;
}

a.vinculo1:visited {
  color: crimson;
}

a.vinculo1:hover {
  color: cyan;
}

a.vinculo1:active {
  color: darkorchid;
}

/* quitamos las decoraciones del texto */
a.vinculo2:link {
  text-decoration: none;
}

a.vinculo2:visited {
  text-decoration: none;
}

a.vinculo2:hover {
  text-decoration: none;
}

a.vinculo2:active {
  text-decoration: none;
}

/* genreamos un estilo para que el vinculo paresca un boton */
a.vinculo3:link,
a.vinculo3:visited {
  background-color: dodgerblue;
  color: floralwhite;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

a.vinculo3:hover,
a.vinculo3:active {
  background-color: red;
}

a.vinculo4:link,
a.vinculo4:visited {
  background-color: dodgerblue;
  color: floralwhite;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

a.vinculo4:hover,
a.vinculo4:active {
  background-color: red;
}
